<app-content-page-layout
  [title]="recipe.name"
  [emojiId]="recipe.icon_id"
  [coverImageSource]="recipe.image_url ? recipe.image_url : null"
>
  <!-- Tags -->
  <div class="flex flex-wrap w-full items-center gap-2 pb-8">
    @for (diet of diets; track diet) {
      <app-badge [text]="diet" />
    }
    @for (tag of recipe.tags; track tag) {
      <app-badge [text]="tag.name" />
    }
  </div>
  <!-- Ingredients -->
  <h5 class="pt-16 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ingredients</h5>
  <div class="flex items-center justify-between pb-2">
    <h3>
      for <span class="font-bold">{{ quantity }}</span> {{ recipe.unit.abbreviation }}
    </h3>
    <div class="inline-flex rounded-md shadow-xs" role="group">
      <button
        (click)="decreaseQuantity()"
        type="button"
        class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:text-white"
      >
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 12h14"
          />
        </svg>
      </button>
      <button
        type="button"
        class="px-4 py-2 w-16 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:text-white"
      >
        {{ quantity }}
      </button>
      <button
        (click)="increaseQuantity()"
        type="button"
        class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:text-white"
      >
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 12h14m-7 7V5"
          />
        </svg>
      </button>
    </div>
  </div>

  <div class="relative overflow-x-auto shadow-md rounded-lg">
    <table
      class="w-full max-w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead class="text-xs uppercase bg-blue-50 dark:bg-blue-700 text-gray-900 dark:text-white">
        <tr>
          <th scope="col" class="px-6 py-3">Amount</th>
          <th scope="col" class="px-6 py-3">Ingredient</th>
        </tr>
      </thead>
      <tbody>
        @for (ingredient of recipe.compositions; track ingredient.id; let isLast = $last) {
          <tr
            class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600"
            [class.border-b]="!isLast"
            [class.dark:border-gray-700]="!isLast"
            [class.border-gray-200]="!isLast"
          >
            <td class="px-6 py-4">
              {{ ingredient.quantity * (quantity / recipe.quantity) }}
              {{ ingredient.unit.abbreviation }}
            </td>
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ ingredient.contained_item.name }}
            </th>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <!-- Instructions -->
  <div class="min-h-[95dvh]">
    <h5 class="mb-2 pt-16 pb-8 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Instructions
    </h5>

    <div class="grid grid-cols-1 gap-12">
      @for (instruction of recipe.instructions; track instruction.step_number) {
        <div class="relative flex items-center">
          <div class="relative h-full">
            <span
              class="inline-flex m-1 mr-4 items-center justify-center w-6 h-6 me-2 text-sm font-semibold text-gray-800 bg-blue-100 rounded-full dark:bg-blue-700 dark:text-white"
            >
              {{ instruction.step_number }}
              <span class="sr-only">Icon description</span>
            </span>
          </div>
          <div>
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
              {{ instruction.summary }}
            </h5>

            <p class="font-normal text-gray-700 dark:text-gray-400">
              {{ instruction.details }}
            </p>
          </div>
        </div>
      }
    </div>
    <div class="inline-flex items-center justify-center w-full pt-32">
      <button
        type="button"
        class="flex gap-2 px-4 py-2 bg-blue-700 hover:bg-blue-800 text-white text-sm font-semibold rounded-lg transition"
      >
        Mark as cooked
      </button>
    </div>
  </div>
</app-content-page-layout>
