<!-- Header Bar (visible when scrolled)-->
<div
  class="fixed top-0 left-0 sm:left-64 right-0 h-14 bg-gray-50 dark:bg-gray-900 shadow-sm transition-all duration-250 ease-in-out transform flex z-20 scroll-appearance"
  [class.opacity-100]="isScrolled"
  [class.opacity-0]="!isScrolled"
  [class.no-transition]="!isScrolled"
>
  <div class="flex justify-between items-center w-full">
    <!-- Left -->
    <div class="flex items-center">
      <!-- Sidebar Toggle -->
      <app-round-button [transparent]="true" class="ml-6 my-3 sm:hidden">
        <app-icon
          (click)="layoutService.toggleSidebar()"
          name="chevron-left"
          fill="none"
          [class.hidden]="layoutService.isSidebarOpen()"
        />
      </app-round-button>
      <!-- Page Title -->
      <div class="ml-2 sm:ml-8">
        <h1 class="text-md font-regular">
          {{ title }}
        </h1>
      </div>
    </div>
    <!-- Right -->
    <div class="flex items-center gap-4 mx-6 my-3 inset-x-0">
      <!-- Share Button -->
      <app-round-button [transparent]="true">
        <div class="w-6 h-6 ml-1 mt-2">
          <app-icon name="share" fill="none" />
        </div>
      </app-round-button>
      <!-- More Button -->
      <app-round-button [transparent]="true">
        <app-icon name="more" [strokeWidth]="2" fill="none" />
      </app-round-button>
    </div>
  </div>
</div>

@if (coverImageSource != null) {
  <div class="relative inline-block max-h-80 w-full overflow-hidden">
    <!-- Cover Image -->
    <img src="{{ coverImageSource }}" class="w-full h-[25vh] object-cover" alt="Cover Image" />
    <!-- Control Elements -->
    <div class="absolute top-0 left-0 flex justify-between w-full">
      <!-- Left -->
      <div class="flex gap-4 mx-6 my-3">
        <app-round-button (click)="layoutService.toggleSidebar()" class="sm:hidden">
          <app-icon
            (click)="layoutService.toggleSidebar()"
            name="chevron-left"
            fill="none"
            [class.hidden]="layoutService.isSidebarOpen()"
          />
        </app-round-button>
      </div>
      <!-- Right -->
      <div class="flex gap-4 mx-6 my-3">
        <app-round-button>
          <app-icon name="share" fill="none" [class]="'ml-0.5 pt-1 w-7 h-7'" />
        </app-round-button>
        <app-round-button>
          <app-icon name="more" [strokeWidth]="2" fill="none" />
        </app-round-button>
      </div>
    </div>
  </div>
} @else {
  <div class="relative inline-block h-14 max-h-80 w-full overflow-hidden">
    <!-- Control Elements -->
    <div class="absolute top-0 left-0 flex justify-between w-full">
      <!-- Left -->
      <div class="flex gap-4 mx-6 my-3">
        <!-- Sidebar Toggle -->
        <app-round-button [transparent]="true" class="sm:visible sm:hidden">
          <app-icon
            (click)="layoutService.toggleSidebar()"
            name="chevron-left"
            [strokeWidth]="1"
            fill="none"
            class=" "
            [class.hidden]="layoutService.isSidebarOpen()"
          />
        </app-round-button>
      </div>
      <!-- Right -->
      <div class="flex gap-4 mx-6 my-3">
        <!-- Share Button -->
        <app-round-button [transparent]="true">
          <div class="w-6 h-6 ml-1 mt-1">
            <app-icon name="share" [strokeWidth]="1" fill="none" />
          </div>
        </app-round-button>
        <!-- More Button -->
        <app-round-button [transparent]="true">
          <app-icon name="more" [strokeWidth]="2" fill="none" />
        </app-round-button>
      </div>
    </div>
  </div>
}
<!-- Main Content -->
<div class="p-8">
  <div class="sticky top-0 bg-gray-50 dark:bg-gray-900 pb-6 flex items-center justify-between">
    <!-- Page Title -->
    <h1 class="text-2xl font-bold">{{ title }}</h1>
    <!-- Page Actions (e.g. Buttons)-->
    <div class="flex items-center gap-2">
      <ng-content select="[pageActions]"></ng-content>
    </div>
  </div>
  <!-- Actual Page Content -->
  <div class="overflow-hidden">
    <ng-content></ng-content>
  </div>
</div>
