<!-- Main Layout -->
<div class="text-gray-800 dark:text-white relative min-h-screen">
  <!-- Sidebar  -->
  <aside
    id="separator-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    [class.translate-x-0]="layoutService.isSidebarOpen()"
    aria-label="Sidebar"
  >
    <div
      class="h-full px-3 py-4 overflow-y-auto bg-white dark:bg-gray-800 shadow-sm border-r border-gray-200 dark:border-gray-700"
    >
      @if (!production) {
        <div
          class="flex items-center p-2 mb-2 bg-yellow-200 text-orange-500 dark:bg-yellow-900 dark:text-yellow-500 rounded-lg justify-center"
        >
          <div class="w-6 h-6">🚧</div>
          <span class="ms-1 mr-2 font-bold">STAGING</span>
          <div class="w-6 h-6">🚧</div>
        </div>
      }
      <ul class="space-y-2 font-medium">
        <li>
          <a
            routerLink="/app/recipes/discover"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group transition"
            (click)="layoutService.toggleSidebar()"
          >
            <app-nav-icon>
              <app-icon name="discover" [strokeWidth]="0"></app-icon>
            </app-nav-icon>
            <span class="ms-3">Discover</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/app/recipes/saved"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group transition"
            (click)="layoutService.toggleSidebar()"
          >
            <app-nav-icon>
              <app-icon name="saved" [strokeWidth]="0"></app-icon>
            </app-nav-icon>
            <span class="flex-1 ms-3 whitespace-nowrap">Saved</span>
            <!--
                <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span>
                -->
          </a>
        </li>
        <li>
          <a
            routerLink="/app/households/meal-plan"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group transition"
            (click)="layoutService.toggleSidebar()"
          >
            <app-nav-icon>
              <app-icon name="meal-plan" [strokeWidth]="0"></app-icon>
            </app-nav-icon>
            <span class="flex-1 ms-3 whitespace-nowrap">Meal Plan</span>
            <!--
                <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
                -->
          </a>
        </li>
        <li>
          <a
            routerLink="/app/households/inventory"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group transition"
            (click)="layoutService.toggleSidebar()"
          >
            <app-nav-icon>
              <app-icon name="inventory" [strokeWidth]="0"></app-icon>
            </app-nav-icon>
            <span class="flex-1 ms-3 whitespace-nowrap">Inventory</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/app/households/shopping-list"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group transition"
            (click)="layoutService.toggleSidebar()"
          >
            <app-nav-icon>
              <app-icon name="shopping-list" [strokeWidth]="0"></app-icon>
            </app-nav-icon>
            <span class="flex-1 ms-3 whitespace-nowrap">Shopping List</span>
          </a>
        </li>
      </ul>
      <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700">
        <li>
          <a
            routerLink="/app/friends"
            class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group transition"
            (click)="layoutService.toggleSidebar()"
          >
            <app-nav-icon>
              <app-icon name="friends" [strokeWidth]="0"></app-icon>
            </app-nav-icon>
            <span class="ms-3">Friends</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/app/households"
            class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group transition"
            (click)="layoutService.toggleSidebar()"
          >
            <app-nav-icon>
              <app-icon name="households" [strokeWidth]="0"></app-icon>
            </app-nav-icon>

            <span class="ms-3">Households</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/app/settings"
            class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group transition"
            (click)="layoutService.toggleSidebar()"
          >
            <app-nav-icon>
              <app-icon name="settings" [strokeWidth]="0"></app-icon>
            </app-nav-icon>
            <span class="ms-3">Settings</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/login"
            (click)="logout()"
            class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group transition"
            (click)="layoutService.toggleSidebar()"
          >
            <app-nav-icon>
              <app-icon name="logout" [strokeWidth]="0" [fill]="'none'"></app-icon>
            </app-nav-icon>
            <span class="ms-3">Log Out</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <!-- Sidebar Backdrop -->
  @if (layoutService.isSidebarOpen()) {
    <div
      class="fixed inset-0 bg-white/10 backdrop-blur-sm block sm:hidden z-30"
      (click)="layoutService.toggleSidebar()"
    ></div>
  }

  <!-- Main Content Area -->
  <main class="flex-1 overflow-y-auto md:pt-0 md:pb-0 sm:ml-64">
    <router-outlet class="bg-gray-100 dark:bg-gray-800"></router-outlet>
  </main>
</div>
